.Cell {

  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border: 1px solid;

  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }

}

.disabled {
  pointer-events: none;
}