.TicTacToe {

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 4rem;
    height: 2rem;
    text-align: center;
  }

  .dimension-buttons {
    margin: 1rem;

    button {
      margin: .3rem;
    }
  }

  .random-button {
    margin: 1rem;
  }

}